<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <h1><b><i>zmcmackins</i></b></h1>
  <p>
  This is a simple web page for <a href="https://msucsis.github.io/csc425/">CSC-425</a>.  My goals this semester are:
  <ul>
    <li>Learn stuff</li>
    <li>Succeed in the course</li>
    <li>Create a decent webpage</li>
    </ul>
  </p>
  <h1><b>Posts</b></h1>
  <p>
    <ul>
      <li><a href="{{site.baseurl}}/now.html">Now<a></li>
      <li><a href="{{site.baseurl}}/about.html">About</a></li>
      <li><a href="{{site.baseurl}}">Posts</a></li>
    </ul>
    {{content}}
  </p>
  </body>
</html>
